body{
    margin: 0;
}


input{
    display: block;
    margin: 5px;
}

/*-----------------------------------------------formulaires-------------------------------------------------------------*/
.form{
    display: flex;
}

h2{
    
}

/*------------------------------------------------Info-------------------------------------------------------*/

.info{
    display: flex;
}